@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #f6f7fb;
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    width: 350px;
    margin-bottom: 30px;

}

.progress-container::before{
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    height: 4px;
    z-index: -1;
}

.progress{
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    transform: translateY(-50%);
    height: 4px;
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;

}

.circle.active{
    border-color: #3498db;
}

.btn{
    background-color: #3498db;
    color: #fff;
    border-radius: 6px;
    border: 0;
    margin: 5px;
    font-family: inherit;
    font-size: 14px;
    padding: 8px 30px;
    cursor: pointer;

}

.btn:active{
    transform: scale(0.98);

}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: #e0e0e0;
    cursor: not-allowed;
}